{% extends 'base.html.twig' %}

{% block title %}CGU {{ parent() }}{% endblock %}

{% block body %}

<div class="container">
    
    <h1 class="text-center">Conditions Générales d'Utilisation - CGU</h1>

    <br>
    
    <h5 class="text-center"><strong><a data-toggle="collapse" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero" class="collapsed cgvA text-dark">En vigueur au 11/05/2020</a></strong></h5>
    <div id="collapseZero" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    <br>
    <p>
    Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par WinterIsGaming et de définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ».
    Les présentes CGU sont accessibles sur le site à la rubrique «CGU».
    Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par l’utilisateur. Lors de l'inscription sur le site via le Formulaire d’inscription, chaque utilisateur accepte expressément les présentes CGU en cochant la case précédant le texte suivant : « Je reconnais avoir lu et compris les CGU et je les accepte ».
    En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.
    WinterIsGaming se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.
    </div>
    
    <br>

    <strong><a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed cgvA text-dark">Article 1 : Les mentions légales</a></strong>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    L’édition et la direction de la publication du site WinterIsGaming est assurée par Carrel Lorry, domicilié 17, rue Isabeau de Roubaix 59100 ROUBAIX.
    Numéro de téléphone est 0681264645
    Adresse e-mail pisha@hotmail.fr.
    L'hébergeur du site WinterIsGaming est la société OVH VPS, dont le siège social est situé au 59820 Gravelines, avec le numéro de téléphone : 09 72 10 10 07.
    </div>
    
    <br>

    <strong><a data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="collapsed cgvA text-dark">Article 2 : Accès au site</a></strong>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    Le site WinterIsGaming permet à l'Utilisateur un accès gratuit aux services suivants : 
        <ul><br>
            <li>- Les jeux, bundles et accessoires à l’achat.</li>
            <li>- Un suivi des commandes.</li>
            <li>- Les actualités organisées par le site.</li>
        </ul>   
    
    Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
    L’Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s’inscrire en remplissant le formulaire. En acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.
    Pour accéder aux services, l’Utilisateur doit ensuite s'identifier à l'aide de son identifiant et de son mot de passe qui lui seront communiqués après son inscription.
    Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel. Celle-ci sera effective dans un délai raisonnable.
    Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité de WinterIsGaming. Dans ces cas, l’Utilisateur accepte ainsi ne pas tenir rigueur à l’éditeur de toute interruption ou suspension de service, même sans préavis.
    L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse email de l’éditeur communiqué à l’ARTICLE 1.
    </div>

    <br>

    <strong><a data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="collapsed cgvA text-dark">Article 3 : Collecte des données</a></strong>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le site est déclaré à la CNIL sous le numéro 8525121445445.
    En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
    
        <ul><br>
            <li>- par mail à l'adresse mail winterisgaming2020@gmail.com</li>
            <li>- par voie postale au 105 Avenue de la République, 59110 La Madeleine.</li>
            <li>- via un formulaire de contact</li>
            <li>- via son espace personnel</li>
        </ul> 

    </div>
    
    <br>

    <strong><a data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class="collapsed cgvA text-dark">Article 4 : Propriété intellectuelle</a></strong>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
    La marque WinterIsGaming est une marque déposée par Valentin Bunel, Vincent De Wyse, Louis Schrike et Lorry Carrel. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de cette marque, de quelque nature que ce soit, est totalement prohibée.
    L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute utilisation à des fins commerciales et publicitaires est strictement interdite.
    Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et suivants du Code de la propriété intellectuelle.
    Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.
    </div> 

    <br>

    <strong><a data-toggle="collapse" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" class="collapsed cgvA text-dark">Article 5 : Responsabilité</a></strong>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    Les sources des informations diffusées sur le site WinterIsGaming sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.
    Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site WinterIsGaming ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.
    L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe. Le site décline toute responsabilité.
    Le site WinterIsGaming ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au téléchargement provenant de ce site.
    La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
    </div>

    <br>

    <strong><a data-toggle="collapse" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" class="collapsed cgvA text-dark">Article 6 : Liens hypertextes</a></strong>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site WinterIsGaming. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.
    </div>

    <br>

    <strong><a data-toggle="collapse" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven" class="collapsed cgvA text-dark">Article 7 : Cookies</a></strong>
    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.
    Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site WinterIsGaming. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.
    L’information contenue dans les cookies est utilisée pour améliorer le site WinterIsGaming.
    En naviguant sur le site, L’Utilisateur les accepte.
    L’Utilisateur doit toutefois donner son consentement quant à l’utilisation de certains cookies.
    A défaut d’acceptation, l’Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui être refusées.
    L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
    </div>

    <br>

    <strong><a data-toggle="collapse" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight" class="collapsed cgvA text-dark">Article 8 : Publication par l’Utilisateur</a></strong>
    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    Le site permet aux membres de publier les contenus suivants :
    commentaires, images.
    Dans ses publications, le membre s’engage à respecter les règles de la Netiquette (règles de bonne conduite de l’internet) et les règles de droit en vigueur.
    Le site peut exercer une modération sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.
    Le membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle. Mais en publiant une publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.
    La société éditrice s'engage à faire figurer le nom du membre à proximité de chaque utilisation de sa publication.
    Tout contenu mis en ligne par l'Utilisateur est de sa seule responsabilité. L'Utilisateur s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par l'Utilisateur.
    Le contenu de l'Utilisateur peut être à tout moment et pour n'importe quelle raison supprimé ou modifié par le site, sans préavis.
    </div>

    <br>

    <strong><a data-toggle="collapse" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine" class="collapsed cgvA text-dark">Article 9 : Droit applicable et juridiction compétente</a></strong>
    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.
    Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.
    </div>
    </p>

</div>
    


{% endblock %}