{% extends 'base.html.twig' %}

{% block title %}Fidélisation{% endblock %}

{% block body %}
<div class="container">
<div class="m-1">
<h3>Chez Winter is Gaming, la fidélité est récompensée</h3>
<p><strong>Introduction :</strong>
<br>
La satisfaction de notre clientèle est au coeur de nos priorités
Notre système de fidélité se base sur les commandes que vous passez.
<br>
<strong>1. Les points de fidélité:</strong>
<br>
Les points de fidélité sont ajoutés en fonction de vos commandes.
En accumulant des points de fidélité, vous obtenez des réductions de plus en plus importantes pouvant aller jusqu'à 50% sur une commande de votre choix.
<br>
<strong>2.le fonctionnement des points:</strong>
<br>
Les points sont ajoutés en fonction du montant de votre commande: 1€ est égal à 1 point.
<br>
<strong>3.Conditions de l'offre de fidélité:</strong>
<br>
Les points cumulés sont calculs selon le total de votre commande.
C'est à dire que si, vous faite une commande de 100€. Vous cumulez 100 points soit 1% déduit sur une commande de votre choix.
Vous pouvez cumuler jusqu'à 50% de réduction sur une seule commande, c'est à dire 5000 points déduits (si vous avez plus de 5000 points vous conservez les points restants).
<br>
Winter Is Gaming, vous remercie d'avance de votre fidélité et bon jeu à tous.

</p>
</div>
</div>
{% endblock %}
