{% extends 'base.html.twig' %}

{% block title %}Fidélisattion{% endblock %}

{% block body %}
<div class="container">
<div class="m-1">
<h3>La fidéliter est récompensée chez Winter Is Gaming</h3>
<p><strong>Introduction:</strong>
<br>
Nous souhaitons que la satisfaction de notre clientèle soit l'intéret de notre société.
Nous vous proposons un sytéme de fidéliter selon vos commandes.
<br>
<strong>1. Les points de fidéliter:</strong>
<br>
Les points de fidéliter seront en fonction de vos commandes.
Plus accumulés de point plus la réduction de votre prochaine commande sera 
importante.
<br>
<strong>2.le fonctionnement des points:</strong>
<br>
Les points fonctionnent selon votre commande. C'est à dire 1€ est égale à 1 point.
<br>
<strong>3.Condition de l'offre de fidéliter:</strong>
<br>
Les points cumuler sera en fonction du total de votre commande.
Le plafond maximum de l'offre sera déduite en pourcentage selon le montant total de votre dernière commande. 
C'est à dire que si, vous faite une commande de 100€. Vous cumulez 100 points soit 10% déduit sur votre prochaine commande.
Bien sûr, l'envoi des commandes vous seront offerts en plus.
Le pourcentage maximum cumulable sur une commande sera de 500 points maximum soit une possibilité de 50% de réduction.
<br>
Winter Is Gaming, vous remercie d'avance de votre fidéliter et bon jeu à tous.

</p>
</div>
</div>
{% endblock %}
