{% extends 'base.html.twig' %}

{% block title %}Fidélisattion{% endblock %}

{% block body %}
<div class="container">
<h1>La fidéliter est récomposer !</h1>
<p>Introduction:
Nous souhaitons que la satisfaction de notre clientèle soit l'intéret de notre société.
Nous vous proposons un sytéme de fidéliter selon vos commandes.

1. Les points de fidéliter:
Les points de fidéliter seront en fonction de vos commandes.
Plus accumulés de point plus la réduction de votre prochaine commande sera 
importante.

2.le fonctionnement des points:
Les points fonctionnent selon votre commande. C'est à dire 1point est égale à 1€ 
déduite sur votre prochaine commande. 
</div>
{% endblock %}
