{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col">
                <h1>Recherche avancée</h1>
                    {{ form(search_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
    </script>
{% endblock %}