<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <a href="{{ path('user_register') }}" class="btn btn-light">Inscription</a>
    <a href="{{ path('user_login') }}" class="mx-2 text-decoration-none text-light">Connexion</a>
    <a href="{{ path('user_logout') }}" class="btn btn-danger mx-2">Déconnexion</a>
    
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
