{% extends 'base.html.twig' %}

{% block title %}Modifier votre mail{% endblock %}

{% block body %}
<h1 class="text-center">Modifier votre mail</h1>

{{ form_start( form, {
        'attr': {
            'class': 'container-fluid my-2 formPassUpdate',
            'novalidate': 'novalidate',
        }
    } ) }}

    <div class="row">
        <div class="col-6">
            {{ form_row( form.oldPassword, {'attr': { 'class': 'form-control' }} ) }}
            {{ form_row( form.email, {'attr': { 'class': 'form-control' }} ) }}
        </div>
        <div class="d-flex justify-content-end col-6">
            <button type="submit" class="btn btn-primary btn-lg btnUpUpdate">Modifier votre mail</button>
        </div>
    </div>

    
    
    {{ form_end( form ) }}


{% endblock %}