{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    
<h1 class="text-center">Réinitialiser votre mot de passe</h1>

{{ form_start( form, {
        'attr': {
            'class': 'container-fluid my-2 row justify-content-center p-5 formRes',
            'novalidate': 'novalidate',
        }
    } ) }}
        <div class="col-12 col-lg-6 formRes">
            {{ form_row( form.email,{'attr': { 'class': 'form-control'}} ) }}
        </div>
        <div class="d-flex justify-content-end formRes">
            <button type="submit" class="btn btn-primary btn-lg btnUpUpdate">Réinitialiser</button>
        </div>
    {{ form_end( form ) }}


{% endblock %}