{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    
<h1 class="text-center">Indiquer votre nouveau mot de passe</h1>

{{ form_start( form, {
        'attr': {
            'class': 'container-fluid my-2',
            'novalidate': 'novalidate',
        }
    } ) }}


    
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary btn-lg">Confirmer votre nouveau mot de passe</button>
    </div>
    {{ form_end( form ) }}


{% endblock %}