{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    
<h1 class="text-center">Indiquer votre nouveau mot de passe</h1>

{{ form_start( form, {
        'attr': {
            'class': 'container-fluid my-2 formPassUpdate',
            'novalidate': 'novalidate',
        }
    } ) }}

    <div class="row justify-content-center">
        <div id="plainPass" class="mr-4">
            {{form_row(form.plainPassword,{'attr': { 'class': 'form-control'}})}}
        </div>
        

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-lg btnUpUpdate">Réinitialiser</button>
        </div>
    </div>
    
    
    
    {{ form_end( form ) }}


{% endblock %}